In [1]:
#Import the EDA packages
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
#Load the Data Frame
df = pd.read_csv('West Nile.csv')

In [3]:
df

,Country,Place of infection (NUTS3/Gaul1),Place of infection name,TimeCode first human infection reported current season (yyyy-mm-dd),New places with human cases,Data as of
0,Hungary,HU222,Vas,2024-09-04,NaN,2024-W45
1,Greece,EL624,Lefkada,2024-06-30,Yes,2024-W29
2,Romania,RO125,Mureş,2024-08-01,NaN,2024-W36
3,Italy,ITH35,Venezia,2024-07-14,NaN,2024-W45
4,Hungary,HU222,Vas,2024-09-04,NaN,2024-W42
...,...,...,...,...,...,...
2689,Romania,RO315,Ialomiţa,2024-09-06,NaN,2024-W45
2690,Croatia,HR024,Brodsko-posavska županija,2024-09-03,NaN,2024-W46
2691,Hungary,HU120,Pest,2024-08-06,NaN,2024-W44
2692,Serbia,RSG125373,Grad Beograd,2024-07-10,NaN,2024-W42
2693,Romania,RO321,Bucureşti,2024-07-24,NaN,2024-W46

In [7]:
#Checking for null entries
df.isna().sum()

Country                                                                   0
Place of infection (NUTS3/Gaul1)                                          0
Place of infection name                                                   0
TimeCode first human infection reported current season (yyyy-mm-dd)       0
New places with human cases                                            2480
Data as of                                                                0
dtype: int64

In [11]:
#All the NaN values in the New Places with human cases correspond to 'no' indication from the data. Data is not actually missing, so will convert all values to 'No'.
df[['New places with human cases']] = df[['New places with human cases']].fillna('No')

In [15]:
df

,Country,Place of infection (NUTS3/Gaul1),Place of infection name,TimeCode first human infection reported current season (yyyy-mm-dd),New places with human cases,Data as of
0,Hungary,HU222,Vas,2024-09-04,No,2024-W45
1,Greece,EL624,Lefkada,2024-06-30,Yes,2024-W29
2,Romania,RO125,Mureş,2024-08-01,No,2024-W36
3,Italy,ITH35,Venezia,2024-07-14,No,2024-W45
4,Hungary,HU222,Vas,2024-09-04,No,2024-W42
...,...,...,...,...,...,...
2689,Romania,RO315,Ialomiţa,2024-09-06,No,2024-W45
2690,Croatia,HR024,Brodsko-posavska županija,2024-09-03,No,2024-W46
2691,Hungary,HU120,Pest,2024-08-06,No,2024-W44
2692,Serbia,RSG125373,Grad Beograd,2024-07-10,No,2024-W42
2693,Romania,RO321,Bucureşti,2024-07-24,No,2024-W46

In [17]:
df['New places with human cases'].value_counts()

New places with human cases
No     2480
Yes     214
Name: count, dtype: int64

In [21]:
df['TimeCode first human infection reported current season (yyyy-mm-dd)'].value_counts()

TimeCode first human infection reported current season (yyyy-mm-dd)
2024-08-06    98
2024-07-24    98
2024-07-15    90
2024-08-02    86
2024-07-06    69
              ..
2024-10-01     2
2024-10-12     2
2024-07-11     1
2024-10-08     1
2024-09-26     1
Name: count, Length: 91, dtype: int64

In [23]:
df['Country'].value_counts()

Country
Italy              574
Greece             436
Romania            353
Hungary            204
Serbia             202
Albania            177
Germany            160
Spain              101
Türkiye             99
Croatia             81
Austria             78
France              71
Kosovo              37
Slovenia            33
Bulgaria            26
North Macedonia     23
Slovakia            21
Czechia             10
Cyprus               8
Name: count, dtype: int64

##### Nothing seems off with the value counts above.

In [25]:
#Renaming the fields to simplify analysis.
df = df.rename(columns={
    'Place of infection (NUTS3/Gaul1)': 'Location Code',
    'Place of infection name': 'Place of Infection',
    'TimeCode first human infection reported current season (yyyy-mm-dd)': 'Reported Infection Date',
    'New places with human cases': 'Newly Affected Region',
    'Data as of': 'Year and Week Number'
})

In [27]:
df

,Country,Location Code,Place of Infection,Reported Infection Date,Newly Affected Region,Year and Week Number
0,Hungary,HU222,Vas,2024-09-04,No,2024-W45
1,Greece,EL624,Lefkada,2024-06-30,Yes,2024-W29
2,Romania,RO125,Mureş,2024-08-01,No,2024-W36
3,Italy,ITH35,Venezia,2024-07-14,No,2024-W45
4,Hungary,HU222,Vas,2024-09-04,No,2024-W42
...,...,...,...,...,...,...
2689,Romania,RO315,Ialomiţa,2024-09-06,No,2024-W45
2690,Croatia,HR024,Brodsko-posavska županija,2024-09-03,No,2024-W46
2691,Hungary,HU120,Pest,2024-08-06,No,2024-W44
2692,Serbia,RSG125373,Grad Beograd,2024-07-10,No,2024-W42
2693,Romania,RO321,Bucureşti,2024-07-24,No,2024-W46

In [29]:
#Export for further EDA using Tableau Public
df.to_csv('West Nile Final.csv', index=False)